*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2c2b2b;
}

a {
  /* поправляем ссылки */
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  /* не забыть добавить 20px от padding'a (box-sizing: border-box) */
  max-width: 1200px;
  margin: 0 auto;
  /* для мобильных устройств, чтоб контент не прилимал */
  padding: 0 10px;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: #fff;
}

.header__top {
  padding: 47px 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}

.header__content {
  /* также можно было padding и header__title задать   */
  padding-top: 60px;
  /* чтобы спозиционировать машину в ".header__images" */
  position: relative;
}

.header__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 72px;
  line-height: 107px;
}

.header__subtitle {
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.header__text {
  margin-bottom: 30px;
  max-width: 800px;
}

.button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: #5A0D67;
  /* не пишем отступ margin, т.к. это блок по БЭМу, который будет ещё раз использоваться снизу, поэтому отступим лучше от иконок соц. сетей */
  /* свойство задаётся именно здесь, а не в :hover */
  border: 1px solid transparent;
  transition: all .5s;
}

.button:hover {
  color: #5A0D67;
  background-color: #fff;
  border: 1px solid #5A0D67;
}

.header__social {
  padding: 70px 0 20px 70px;
}

.social {
  align-items: center;
  display: flex;
}

.social__link {
  margin: 0 5px;
}

.header__images {
  position: absolute;
  right: 0;
  bottom: -255px;
}

.services {
  padding-top: 350px;
}

.title {
  color: #21062A;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  /* т.к. в каждом встречающемся случае будет margin-bottom: 50px, то мы можем себе тут позволить написать  */
  margin-bottom: 50px;
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #21062A;
  top: 22px;
  margin-left: 22px;
}

.services__inner {
  display: flex;
  margin-bottom: 100px;
}

.services__content {
  width: 505px;
  margin-right: 96px;
}

.services__content-title {
  color: #5A0D67;
  /* хоть и дублируется со стилями в body, но требуется записать, т.к. это тэг h6, если кто-то будет менять на h5 или что-то другое, то стили остануться такими же */
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 12px;
}

.services__content-textbox {
  margin-bottom: 57px;
}

.services__content-text {
  margin-bottom: 12px;
}

.button--decor {
  margin-top: -7px;
  color: #fff;
  position: relative;
}

.button--decor::after {
  content: 'ЖМИ';
  color: #C4C4C4;
  position: absolute;
  margin-left: 143px;
}

.button--decor::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #C4C4C4;
  /* пишем тут от right, чтобы при добавлении контента в кнопку линия не наезжала на слова, но это тут возможно т.к. это строчно-блочный элемент */
  right: -78px;
  top: 24px;
}

.services__list {
  /* делаем отсчёт с 0, а не с 1
  *до конца .services__item::before */
  list-style: none;
  counter-reset: my-counter;
}

.services__item {
  counter-increment: my-counter;
  border: 2px solid #C4C4C4;
  margin-bottom: 12px;
  width: 450px;
  padding: 10px 14px 10px 113px;
  position: relative;
  /* transition работает только с циферными параметрами, т.е. display: none уже не сработал бы */
  transition: all .5s;
}

.services__item::before {
  content: '0'counter(my-counter);
  position: absolute;
  left: 20px;
  font-size: 36px;
  line-height: 53px;
  font-weight: 400;
  color: #C4C4C4;
  transform: rotate(270deg);
  /* в ::before тоже пишем transition, иначе слишком медленно меняется */
  transition: all .5s;
}

/* если вдруг будет больше 10 элементов, то будет считаться далее 010 и т.д. это недопустимо, поэтому добавляем строку с :nth-child(n + 10):

:nth-child(An+B) - формула для :nth-child() */
/* .services__item:nth-child(n + 10)::before{
  content: counter(my-counter);
} */

.services__item:hover {
  border: 2px solid #5A0D67;
  width: 500px;
}

.services__item:hover .services__item-title {
  color: #5A0D67;
}

.services__item:hover::before {
  color: #5A0D67;
}

.services__item-title {
  font-size: 24px;
  line-height: 35px;
  font-weight: 300;
}

.benefits {
  margin-bottom: 100px;
}

.benefits__inner {
  display: flex;
}

.benefits__img {
  margin-right: 95px;
}

.benefits__content {
  color: #fff;
  width: 100%;
}

.benefits__title {
  margin-left: 185px;
}

.benefits__list {
  padding: 25px 0 25px 185px;
  background-color: #21062A;
  list-style: none;
}

.benefits__item {
  width: 320px;
  margin-bottom: 20px;
}

.benefits__item-num {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}

.benefits__item-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}

.benefits__item-text {
  color: #C4C4C4;
}

.carousel {
  margin-bottom: 100px;
}

.carousel__inner {
  margin: 0 -7px;
}

.carousel__item {
  margin: 0 7px;
}

.carousel__item-box {
  border: 1px solid #C4C4C4;
  padding: 6px 6px 16px 6px;
  text-align: center;
  transition: all .5s;
}

.carousel__item-box:hover {
  color: #fff;
  background-color: #5A0D67;
  border-color: #5A0D67;
}

.carousel__item-img {
  max-width: 100%;
  margin-bottom: 23px;
}

.carousel__item-title {
  font-weight: 300;
  margin-bottom: 5px;
}

/* если бы мы были абсолютно уверены, что это будет единственный слайдер, то ненужно было бы писать 1-ым родительский класс, но т.к. кто его знает, может позже что-то ещё будет, то пишем так */
.carousel .slick-dots {
  display: flex;
  justify-content: center;
  margin: 50px 0 102px;
  letter-spacing: none;
}

.carousel .slick-dots button {
  font-size: 0;
  border: none;
  margin: 0 10px;
  width: 50px;
  height: 1px;
  background-color: #C4C4C4;
  transition: all .5s;
}

.carousel .slick-active button {
  background-color: #5A0D67;
  height: 3px;
  outline: none;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__list {
  list-style: none;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item-title {
  color: #5a0d67;
}

.contacts__form {
  background-color: #21062A;
  padding: 50px 75px 57px;
  text-align: center;
}

.contacts__title {
  color: #fff;
  margin-bottom: 16px;
  margin-left: 53px;
  text-align: left;
}

.contacts__title::after {
  background-color: #fff;
}

.contacts__input {
  background-color: transparent;
  width: 450px;
  height: 75px;
  border: 1px solid #FFF;
  margin-bottom: 12px;
  display: block;
  font-size: 26px;
  color: #fff;
  /* не забывать про padding в form input! */
  padding: 0 15px;
  text-align: center;
}

/* input особенно placeholder'ам всегда прописывать значения текста, т.к. они его не наследуют из body! */
.contacts__input::placeholder {
  text-align: center;
  color: #c4c4c4;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.contacts__button {
  border: none;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  margin-top: 78px;
  cursor: pointer;
}
.footer{
  background-color: #21062a;
}
.footer__inner{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
